<!-- Mascot (Brain Character) -->
<div id="mascot" class="mascot-container">
    <div class="mascot-tooltip">✨ Делайте перерыв каждый час при работе за компьютером!</div>
    <div class="mascot-eyes">
        <img src="{{ '/images/mascot/blink.png' | url }}" alt="" class="mascot-blink">
        <img src="{{ '/images/mascot/image.png' | url }}" alt="Brain Mascot" class="mascot-open">
    </div>
</div>
